*{
    margin: 0;
    padding: 0;
}
/* .container {
    background-color: rosybrown;
    width: 200px;
    height: 200px;
} */
.box-main{
    margin: 0px 76px;
    display:grid;
    grid-template:"img-box-main empty   cont"600px/
                     435px       1fr    635px;         
}
.cont{
    margin-top: 25px;
}

.img-box-main{
    display: grid;  
    grid-area: img-box-main;  
    /* background-color: rgb(119, 119, 139); */
    width: 100%;
    /* height: 100vh;*/
    grid-template:"img-box      img-box     img-box     img-box     img-box     img-box     img-box "435px
                  "empty-0      empty-0     empty-0     empty-0     empty-0     empty-0     empty-0 "30px
                  "box-img-1    empty-1     box-img-2   empty-2     box-img-3   empty-3     box-img-4" 90px /
                  90px             25px       90px       25px         90px         25px          90px;
    
}

/* lithbox */
.div-hidden {
    top: 0;
    background-color: rgb(64, 64, 65,.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-area: mostrarimg;
}
.hidden-ampliado{
    grid-template:"atras    mostrarimg"/
                    40px           435px;
}
.img-principal{
    background-color: aqua;
    grid-area: img-new;
    cursor: pointer;
}
.box-new-1{
    grid-area: box-new-1;
    cursor: pointer;
    
}
.box-new-2{
    grid-area: box-new-2;
    cursor: pointer;
}
.box-new-3{
    grid-area: box-new-3;
    cursor: pointer;
}
.box-new-4{
    grid-area: box-new-4;
    cursor: pointer;
}
.light-hidden{
    display: none;
}

.main-ligthbox {
    width: 650px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.btn-atras {
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    width: 45px;
    right: 55px;
    font-size: 30px;
    background-color: aliceblue;
    grid-area: atras;
    color: black;
    position: relative;
    top:240px;

}
.img{
    width: 500px;

}
.org2 {
    justify-content: right;
    display: flex;
    align-items: center;
    position: relative;
}

.btn-adelante {
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    width: 45px;
    left: 445px;
    font-size: 30px;
    background-color: aliceblue;
    grid-area: atras;
    color: black;
    position: relative;
    top:287px;  
}
.btn-x{
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 35px;
    width: 35px;
    left: 435px;
    font-size: 30px;
    background-color: aliceblue;
    grid-area: atras;
    color: black;
    position: relative;
    top:95px;
    cursor: pointer;
}
.img-box{
    grid-area: img-box;
    width: 100%;
    cursor: pointer;
    margin-top: 23px;
}
.img-mini{
    width: 100%;
    cursor: pointer;

}
.box-img-1{
    grid-area: box-img-1;
    cursor: pointer;
}
.box-img-2{
    grid-area: box-img-2;
    cursor: pointer;
}
.box-img-3{
    grid-area: box-img-3;
    cursor: pointer;
}
.box-img-4{
    grid-area: box-img-4;
    cursor: pointer;
}
.box-img-mini{
    border-radius: 15px;
    border: 3px solid rgb(255, 125, 26);
}
.img-mini-a{
    opacity: 0.4;
}
img{
    border-radius: 12px;
}   
.icon-op{
    width: 50px;
    height: 50px;
    background-color: rgba(201, 197, 194, 0.247);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border: 2px solid whitesmoke;
}
.cant-obj{
    color: rgb(48, 48, 48);
    font-size: 1.2em;
}
.btn-sumar, .btn-restar{
    color:  rgb(255, 125, 26);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
    cursor: pointer;
    font-size: 1.4em;
}
.cant-box{
    display: inline-flex;
    flex-direction: row;
}
.menu{
    background-color: whitesmoke;
    margin-left: 100px;
}
.Sneakers{
    color: black;
    font-size: 3.0em;
    font-family: 'Dongle', sans-serif;
    list-style: none;
}
.item{
    color: grey;
    font-size: 1.0em;
    cursor: pointer;
    border-bottom: 1px solid orangered;
    list-style: none;
}
.Menu1{
    display: inline-flex;
    align-items: center;
    gap: 100px;
}
.cont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    grid-area: cont;
 
}
.sneake{
    color: orange;
    font-weight: bold;
}
.sub{
    font-size: 3em;
    margin-bottom: 15px;
}

.bottom {
    margin-bottom: 15px;
}

.number-flex {
    display: inline-flex;
    gap: 15px;
}

.number {
    font-size: 2em;
    font-weight: bold;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 81, 0);
}
.before {
    color: gray;
    font-weight: bold;
    text-decoration: line-through;
}
.precio{
    font-weight: bold;
    font-size: 1.5em;

}
img{
    border-radius: 12px;
}  


