*{
    margin: 0;
    padding: 0;

}
body{
    background-color:rgb(49, 174, 190) ;

}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    cursor: text;
 
}
form{
 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(128, 64, 0);
    margin: 70px 0px 50px 0px;
    padding: 60px;

}
.dalt{
    font-family: 'Alkatra', cursive;;
    display: block;
    margin: 8px 0px 10px 0px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid black;
    background-color:rgb(49, 174, 190);
    color: rgb(95, 146, 173);

}
.button{
    width: 25%;
    height: 45px;
    background:#476172;
    border-radius: 15px ;
    color: white;
    margin-bottom: 16px;
    margin-top: 10px;
    cursor: pointer;
    padding:15px;
}

label{
    color: beige;
    font-size: 1.5em;
    font-family: 'Alkatra', cursive;
    height: 12px;
    
}
fieldset{
    border: 4px solid black;
    border-radius: 13px;
    padding: 50px;
    width: 45%;


    
}
