body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle at 57.13% 53.32%, #e902d4 0, #c90dcb 16.67%, #a711bf 33.33%, #8311b0 50%, #5f109f 66.67%, #3b0f8f 83.33%, #080f80 100%);
}
a{
    font-family: 'Oswald', sans-serif;
    font-size: 11em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style: none;
}



