*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.box-header-1{
    width: 100%;
    height: 70px;
    background-color: white;
    display: grid;
    grid-template:"menu-hamburguer    img-logo    icono-lupa    carrito-compra  icono-user" 70px /
                    60px                150px         1fr         100px          100px;
}
.box-header-1-hidden{
    display: none;
}
.style-hamburguer{
    color: black;
    font-size: 2em;
}
.menu-hamburguer{
    grid-area: menu-hamburguer;
    position: relative;
    left: 20px;
    top: 20px;
}
.img-logo{
    grid-area: img-logo;
    width: 100px;
    text-align: right;
}
.circle{
    grid-area: circle;
    width: 68px;
}
.carrito-compra{
    margin-top: 20px;
    grid-area: carrito-compra;
    width: 60px
}
.icono-user{
    margin-top: 10px;
    grid-area: icono-user;
    width: 60px;

}
.icono-homecenter{
    width: 60px;
    position: relative;
    top: 7px;
    left: -30px;
}
.img-lupa{
    margin-top: 18px;
    width: 30px;

}
input{
    width: 80%;
    height: 20px;
}

.img-lupa-2{
    width: 20px;
    margin-left: 23px;
}
.icono-lupa{
    text-align: center;
    
}

.box-header-2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}
.box-header-2-hidden{
    display: none;

}
.icono-lupa-2{

    display:flex
}
.x-exit{
    position: relative;
    font-size: 23px;
    margin-left: 30px;
    
}

/* body{
    background-color: whitesmoke;
}

.menu{
    color: #d9d9d9;
    height: 25px;
}
.cont-nav li {
    list-style: none;
}
.cont-nav li a{
    color: #212226;
    text-decoration: none;
}
.menu .cont-nav ul{
    display: flex;
    align-items: center;
    margin-left: 300px;
    font-size: 0.9em;
    gap: 12px;
    cursor: pointer;
}
.menu-two{
    display: none;
}
.menu .cont-nav ul .items-rigth{
    margin-left: 150px; 
}
.cmr{
    font-weight: 600;
}
.constructor{
    font-weight: 600;
}
.seg-com{
    font-weight: 600;
}
.cont-two{
    background-color: white;
    height: 100px
}
.cont-two img{
    position: relative;
    left: 325px;
    margin-top: 13px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.fa-solid {
    grid:fa-solid ;
    width: 23px;
    height: 13px;
}
.im{
    grid:im;
    width: 90px;
    height: 30px;
}
.fa-regular{
    grid:fa-regular;
    width: 23px;
}
.box-header{
    background-color: aqua;
    margin-top: 15px;
} */

@media screen and (max-width : 795px) {
    .menu{
      display: none;
    }
   
    
}
/* @media screen and (max-width : 3000px) {
    menu .cont-nav ul{
        display: flex;
        align-items: center;
        margin-left: 300px;
        font-size: 0.9em;
        gap: 12px;
        cursor: pointer;
    }
    
   
      
    }
      */
@media screen and (max-width : 768px) {
    .menu .cont-nav ul{

        display: none;
        align-items: center;
        margin-left: 300px;
        font-size: 0.9em;
        gap: 12px;
        cursor: pointer;
    }
    .menu .cont-nav ul .items-rigth{
        margin-left: 150px; 
        display: none;
    }
    .cont-two{
        display: none; 
    }
    
    

}








