* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
img {
    width: 100%;
}
.box-header-1 {
    width: 100%;
    height: 70px;
    background-color: white;
    display: grid;
    grid-template: "menu-hamburguer    img-logo    icono-lupa    carrito-compra  icono-user" 70px /
                    60px                   150px      1fr            100px         100px;
}
.cont-two {
    align-items: center;
    width: 100%;
    box-shadow: 0 0 5px rgb(202, 202, 202);
    display: grid;
    grid-template: 90px /1fr 250px 40% 100px 100px 160px 1fr;
}
.cont-input input {
    width: 100%;
}

.cont-points img {
    height: 30px;
    width: 30px;
}

.cont-two div {
    display: flex;
    align-items: center;
}
.cont-input img {
    position: relative;
    right: 30px;
}
.cont p{
    margin-left: 8px;
}
.cont-shop div {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box-header-1-hidden {
    display: none;
}
.style-hamburguer {
    color: black;
    font-size: 2em;
}
.menu-hamburguer {
    grid-area: menu-hamburguer;
    position: relative;
    left: 20px;
    top: 20px;
}
.img-logo {
    grid-area: img-logo;
    width: 100px;
    text-align: right;
}
.circle {
    grid-area: circle;
    width: 68px;
}
.carrito-compra {
    margin-top: 20px;
    grid-area: carrito-compra;
    width: 60px
}
.icono-user {
    margin-top: 10px;
    grid-area: icono-user;
    width: 60px;
}
.icono-homecenter {
    width: 60px;
    position: relative;
    top: 7px;
    left: -30px;
}
.img-lupa {
    margin-top: 18px;
    width: 30px;
}
input {
    width: 80%;
    height: 30px;
    border: 1px solid rgb(177, 177, 177);
    outline: none;
    padding-left: 15px;
}
.img-lupa-2 {
    width: 20px;
}
.icono-lupa {
    text-align: center;
}
.box-header-2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.box-header-2-hidden {
    display: none;
}
.icono-lupa-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    width: 90%;
}
.x-exit {
    font-size: 23px;
    transition: all 300ms;
}
@media screen and (max-width : 3000px) {
    menu .cont-nav ul {
        display: flex;
        align-items: center;
        margin-left: 300px;
        font-size: 0.9em;
        gap: 12px;
        cursor: pointer;
    }

    .input {
        width: 80%;
        height: 30px;
        text-align: center;
        outline: none;
    }
    .box-header-1 {
        display: none;

    }
}
@media screen and (max-width : 768px) {
    .menu-hamburguer{
        display: flex;
        position: relative;
        margin: 0px 10px ;

    }
    .icono-homecenter{
        position: relative;
        display: flex;
        top: 5px;
        left: 23px;
    }
    .icono-lupa{
        position: relative;
        left: 70px;
    }
    .carrito-compra{
        position: relative;
        top: -2px;
        left: 80px;
    }
    .icono-user{
        position: relative;
        left: 75px;
    }
    .cont-two {
        display: none;
    }
    .box-header-1 {
        display: flex;

    }
    .input {
        width: 80%;
        height: 30px;
        border: none;
        text-align: center;
        border: none;
        transition: all 300ms;
    }
}       