*{
    margin: 0;
    padding: 0;
}
.cont-head{
    background-color: rgba(255, 241, 89);
    display: grid;
    width: 100%;
    grid-template: "img-logo     input-busqueda  menu-hamburguer   carrito-compra  " 70px/
                        90px          200px          50px         60px;    
}
.img-logo{
    grid-area: img-logo;
    width: 24px;
    text-align: right;
}
.menu-hamburguer {
    grid-area: menu-hamburguer;
    position: relative;
    left: 20px;
    padding: 16px;
}
.carrito-compra {
    padding: 17px;
    grid-area: carrito-compra;
    width: 60px
}
.box-input-busqueda{
    grid-area:input-busqueda;
    width: 100%;
    padding: 16px;

}
.input-busqueda{
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 30px;
    font-size: 1.2em;
    color: rgb(48,48, 48);
}
.box-auto{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template: "  empty-left  box-img    box-info   empty-rigth" 250px/
                          20px      6fr          7fr        2fr;
    background-color: whitesmoke;
}
.box-img{
    grid-area: box-img;
    margin-top: 15px;
}
.box-info{
    grid-area: box-info;
    margin-left: 15px;
}
.img-auto{
    width: 100%;
}
.info-marca{
    padding: 8px;
    display: flex;
    flex-direction: row;
}
.txt-precio{
    font-size: 1.6em;
    font-weight: 400;
}
.txt-marca, .txt-modelo{
    font-size: .8em;
    margin-right: 10px;
}
.box-corazon{
    display: flex;
    justify-content: center;
}
.corazon{
    width: 23px;
    height: 23px;
    border-radius: 14px;
    position: relative;
    left: -10px;
    background-color: rgb(258, 258, 258,.8);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-style-hearth{
    color: rgb(57, 57, 232,.8);
}