* {
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

/* .main-content {
    display: grid;
    grid-template: "empty-left   main-nav   empty-rigth"
                   "empty-left   img-hipo      empty-rigth" / 1fr 1280px 1fr;
} */

.left-box {
    background-color: rgb(223, 220, 225);
    grid-area: empty-left;
    height: 100vh;
}

.empty-rigth {
    background-color: rgb(223, 220, 225);
    grid-area: empty-rigth;
    height: 100vh;
}
.main-marco {
    position:relative;
    
}
.main-nav {
    width: 100%;
    height: 60px;
    background-color: rgb(4, 27, 128);
}
.main-ul {
    list-style: none;
    font-size: 1.3em;
    margin-top: 15px;
    margin-right: 40px;
    text-align: right;
}
.main-nav {
    grid-area: main-nav;
}
.style-li {
    display: inline-block;
    color: white;
}
.style-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 25px 0 25px;
}
.btn-left {
    position: fixed;
    width: 80px;
    top: 50vh;
    left: 40px;
    z-index: 20;
    font-size: 2em;
    cursor: pointer;
}
.btn-rigth {
    position: fixed;
    width: 80px;
    top: 50vh;
    right: 40px;
    z-index: 20;
    font-size: 2em;
    cursor: pointer;
}
.btn-left:hover{
    cursor: pointer;
}
.img-sea{
    width: 100%;
    top: -90px;
    left: 0;
    z-index: 10;
    transition: left 2s;
}  
.img-sea-hideen{
    width: 100%;
    position: fixed;
    left: -100%;
    transition:  left 6s;
    z-index: 1;
    cursor: pointer;
}
.img-sea-hideen-rigth{
    width: 100%;
    position: fixed;
    left: 100%;
    transition:  left 6s;
    z-index: 1;
    cursor: pointer;
}
.img-leopard{
    width: 100%;
    grid-area: img-leopard;
    position: fixed;
    z-index: 10;
    left: 100%;
    transition: left 2s;  
}

.img-leopard-hideen{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: -100%;
    transition: left 6s;
}
.img-leopard-hideen-right{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 100%;
    transition: left 6s;
}
.img-nature{
    width: 100%;
    top: -90px;
    left: 0;
    z-index: 10;
    transition: left 2s;
}
.img-nature-hideen{
    width: 100%;
    position: fixed;
    left: -100%;
    transition:  left 2s;
    z-index: 1;
    cursor: pointer;
}
.img-nature-hideen-rigth{
    width: 100%;
    position: fixed;
    left: -100%;
    transition:  left 2s;
    z-index: 1;
    cursor: pointer;
}
