*{
    margin: 0;
    padding: 0;
}
body{
background-image: url("../imgdan/el_secreto_hadasjpeg.jpeg"); 
width: 100%;
height: 100vh; 
}
.img-tik{
    position: relative;
    width: 250px;
    height: 350px;
}
#ContImgBox{
    position: absolute;
    width: 175px;
    height: 175px;
    transition:  all 1s;
}





    



