*{
    margin: 0;
    padding: 0;

}
.img-arbol{
    display: block;
    width: 100%;
    height: auto;
}
.img-tik{
   position: absolute;
   top: 0;
   left: 0;
   opacity: 1;
   transition: all 4s;
   transform: translateY(200%);
}
.show{
    opacity: 0;
    transform: translateX(300%);


}






    



