*{
    margin: 0;
    padding: 0;
}
.img-arbol{
    position: absolute;
    width: 100%;
    height:100vh;
}
.img-tik{
    position: relative;
    width: 250px;
    height: 350px;
}
#ContImgBox{
    position: absolute;
    transition: all 1s;
}
/* .show-dow{
    opacity: 1;
    transform: translateY(100%);
} */






    



