*{
    margin:0;
    padding:0;
 
}
body{
    background-color: rgb(103, 203, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    margin-top: 0;
    list-style: none;
    background:slateblue;
    position: absolute;
    width: 100%;

}
nav > ul > li{
    display: inline-block;
    width: 320px;
    line-height: 90px;
}
nav li{
    position: relative;
    text-align: center;
    color: beige;
    font-size: 25px
}
nav li li {
    max-height: 0;
    transition: all 1s;
    overflow: hidden;

}
nav li:hover > ul >li
{
visibility: visible;
max-height: 500px;
overflow: visible;

}
nav ul ul ul{
    left: 100%;
    top:0;
}
.sub-sub{
    background-color:rgba(174, 112, 231, 0.445) ;

}
a{
    text-decoration: none;
    border-radius: 5px;
    border-color: black;
  
}
img{
    width: 100%;
}
nav ul ul{
    text-align: center; 

}
