*{
    margin: 0;
    padding:0;
}

#nav-bar-horizontal{
    color: rgb(253, 253, 253);
  
}
.menu-horizontal{
    margin: 0;
    background:rgb(253, 253, 253) ;
    float: left;
    padding: 8px 10px;
    border-right: 1px solid #fb5b04;
    color: rgb(64, 64, 64);
    border-radius: 0;
    font-weight: 500;
    font-size: 0.5em;
    list-style: none;
}
.menu-horizontal:hover{
    background:rgb(220, 220, 220);
    font-style: none;

}
.enlace-menu-horizontal{
    color: rgb(206, 192, 192);
}
.cont1{
    width: 45%;
    height: 13px;
}


.nav-bar-vertical{
    display: inline-block;
  
}

.menu-vertical{
    list-style: none;
    padding: 20px;
    margin-right: 5px;
    background-color: rgb(87,87,86);
    border-radius: 5px;
    font-size: 0.7em;
 
   

}
.menu-vertical:hover{
    background-color: rgb(64, 64, 64);
    
   
}
a{
    text-align: none;
    color:white;
}