body{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    color: rgb(245, 17, 74);
    

}
h2{
    font-family: 'Rubik', sans-serif;
    color: rgb(245, 17, 74);
    font-size: 4em;
    text-align: left;
}