*{
    margin: 0;
    padding: 0;
}




body{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}
.tittle{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Satisfy', cursive;
    font-size: 6em;
    color: rgba(228, 48, 24, 0.918);

    

}
img{
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}